#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 2rem;
  max-width: 1280px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header, footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

footer {
  margin-top: auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header, footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.btn-black {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  display: inline-block;
  text-align: left;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: auto;
}

.btn-black:hover {
  background-color: #333;
  color: #eee;
  border-color: #333;
}

.btn-secondary {
  background-color: grey;
  color: white;
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: auto;
}

.btn-secondary:hover {
  background-color: #333;
  color: #eee;
  border-color: #333;
}


.location-text {
  font-size: 1.2rem;   
  text-align: left;   
}


